.baliContainer {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    position: relative;
    background-image: url(/assets/images/bali1.webp);
    background-size: cover;
    background-position: center;
    height: 45rem;
    border: 2px solid #000000;
    box-shadow: 0px 0px 20px #000000;
    border-radius: 10px;
}

.baliContainer h1 {
    font-family: 'VujahdayScript', 'Courier', 'serif';
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    color: #000000;
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.baliContainer h1 span {
    display: block;
    font-size: 1.5rem;
    color: #000000;
}

h2 {
    font-family: "Oregano", "serif";
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
    padding: 10px 0;
    text-decoration: underline;
    letter-spacing: 2.5px;
}

.bali-p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5;
    margin: 30px 160px;
}

.bali-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "pic1 pic2 pic3"
    "pic4 pic5 pic6";
    gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 150px;
}

.bali-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.grid-item-1 {
    grid-area: pic1;
}

.grid-item-2 {
    grid-area: pic2;
}

.grid-item-3 {
    grid-area: pic3;
}

.grid-item-4 {
    grid-area: pic4;
}

.grid-item-5 {
    grid-area: pic5;
}

.grid-item-6 {
    grid-area: pic6;
}

ul {
    margin: 20px 200px;
    line-height: 2;
}

li {
    font-size: 1.2rem;
}

/* Responsive styling */
@media (max-width: 1024px) {
    .baliContainer {
        width: 80%;
        height: 500px;
        margin: 40px auto;
        box-shadow: 0px 0px 15px #000000;
    }

    .baliContainer h1 {
        font-size: 2.5rem;
        padding: 10px;
    }

    .austriaContainer h1 span {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .bali-p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin: 30px 100px;
    }

    .bali-grid {
        margin: 40px 100px;
    }

    ul {
        margin: 20px 120px;
        line-height: 1.8;
    }

    li {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .baliContainer {
        height: 400px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .bali-p {
        font-size: 1rem;
        margin: 20px 60px;
    }

    .bali-grid {
        margin: 40px;
    }

    ul {
        margin: 10px 70px;
        line-height: 1.7;
    }

    li {
        font-size: 1rem;
    }
}

@media (max-width: 435px) {
    .baliContainer {
        width: 100%;
        height: 350px;
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .baliContainer h1 {
        left: 18%;
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .bali-p {
        font-size: 0.9rem;
        margin: 15px 30px;
    }

    .bali-grid {
        grid-template-columns: 1fr 1fr; /* 2 columns */
        grid-template-areas:
            "pic1 pic2"
            "pic3 pic4";
        margin: 30px 20px;
        gap: 15px;
    }

    /* Hide images 5 and 6 */
    .bali-grid > *:nth-child(5),
    .bali-grid > *:nth-child(6) {
        display: none;
    }

    .bali-grid img {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);;
    }

    ul {
        margin: 15px;
        line-height: 1.6;
    }

    li {
        font-size: 0.9rem;
    }
}