.contactcontainer {
    margin: 50px 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contactimage contactinfo"
      "footer footer";
}
  
.contactImage {
    grid-area: contactimage;
    place-self: center;
}
  
.contactinfo {
    grid-area: contactinfo;
}
  
.contactImage img {
    display: block;
    width: 90%;
    height: auto;
    border: 3px solid #000000;
    border-radius: 90% 10% / 10% 30%;
    place-self: center;
}
  
.contactInfo h2 {
    font-family: "Oregano", "serif";
    color: #000000;
    padding-top: 50px;
    font-size: 3rem;
    margin-left: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.contactInfo p {
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 50px;
    line-height: 1.7;
}

/* Responsive styling */
@media (max-width: 1024px) {
    .contactInfo h2 {
        font-size: 2.5rem;
    }

    .contactInfo p {
        font-size: 1.3rem;
        line-height: 1.5;
    }
}

@media (max-width: 768px) {
    .contactcontainer {
        grid-template-columns: 1fr;
        grid-template-areas:
          "contactinfo"
          "contactimage"
          "footer";
    }

    .contactInfo h2 {
        font-size: 2.4rem;
        text-align: center;
        padding: 20px;
        margin: 0;
    }

    .contactInfo p {
        font-size: 1.2rem;
        line-height: 1.4;
        margin: 0;
    }

    .contactImage img {
        width: 80%;
        margin-top: 30px;
    }
}

@media (max-width: 435px) {
    .contactcontainer {
        margin: 20px;
    }

    .contactInfo h2 {
        font-size: 2.2rem;
    }

    .contactInfo p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .contactImage img {
        margin-top: 10px;
    }
}