.contactcontainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contactimage contactinfo"
      "footer footer";
}
  
.contactImage {
    grid-area: contactimage;
}
  
.contactinfo {
    grid-area: contactinfo;
}
  
.contactImage img {
    display: block;
    margin-left: 30px;
    margin-right: auto;
    height: 450px;
    width: auto;
    border: 3px solid #000000;
    border-radius: 90% 10% / 10% 30%;
}
  
.contactInfo h2 {
    font-family: "Oregano", "serif";
    color: #000000;
    padding-top: 50px;
    font-size: 32px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.contactInfo p {
    margin-left: 20px;
    margin-right: 50px;
    line-height: 1.7;
}