.contactcontainer {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contactimage contactinfo"
      "footer footer";
  }
  
  .contactImage {
    grid-area: contactimage;
  }
  
  .contactinfo {
    grid-area: contactinfo;
  }
  
  .contactImage img {
    display: block;
    margin-left: 30px;
    margin-right: auto;
    height: 450px;
    width: auto;
    border: 2px solid black;
  }
  
  .contactInfo h3 {
    margin-bottom: 20px;
    border: 2px solid red;
    display: inline-block;
  }