.eventsMain {
    background-image: url(/assets/images/eventsMain.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

}

.eventsMain h1 {
    font-family: 'VujahdayScript', 'Courier', 'serif';
    font-size: 84px;
    color: #FFFAF0;
    letter-spacing: 2.5px;
    text-align: center;
    padding-top: 120px;
}

section {
    padding: 20px;
    margin: 40px auto;
    max-width: 1200px;
    background-color: rgba(204, 204, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.upcomingTravels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upcomingTravels h2 {
    color: #000000;
    font-family: "Oregano", "serif";
    font-size: 40px;
    letter-spacing: 1.5px;
    text-decoration: underline;
    margin: 20px;
}

.pastTravels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pastTravels h2 {
    color: #000000;
    font-family: "Oregano", "serif";
    font-size: 40px;
    letter-spacing: 1.5px;
    text-decoration: underline;
    margin: 20px;
}

h3 {
    font-family: 'PlayfairDisplaySC', Times, serif;
    font-size: 24px;
    margin: 0;
    color: #000000;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s ease;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-description {
    font-size: 1em;
    margin: 10px 0;
    color: #000000;
}

.card .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #CCCCFF;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.card .card-button:hover {
    background-color: #CCCCFF;
    color: #000000;
}