.franceMain {
    position: relative;
    background-image: url(/assets/images/france1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #FFFFFF;
}

.centered-text {
    background-color: black;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}