* {
    margin: 0;
    box-sizing: border-box;
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEEEFF;
}

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('/assets/fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
         url('/assets/fonts/PlayfairDisplaySC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oregano';
    src: url('/assets/fonts/Oregano-Regular.woff2') format('woff2'),
         url('/assets/fonts/Oregano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VujahdayScript';
    src: url('/assets/fonts/VujahdayScript-Regular.woff2') format('woff2'),
         url('/assets/fonts/VujahdayScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEEEFF;
    padding: 0 1rem 0 1rem;
}

.header .logo {
    max-width: 150px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-links li {
    font-family: 'PlayfairDisplaySC';
    margin-left: 1rem;
}
  
.nav-links .link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
  
.link:hover {
    background-color: pink;
    color: white;
}

footer {
    background: #1F2041;
    color: #FEEEFF;
    text-align: center;
}
  
footer p {
    font-family: 'PlayfairDisplaySC', Times, serif;
    font-size: 1.2em;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.createdBy a:link, a:visited {
    text-decoration: none;
    color: #14BDEB;
}

.createdBy a:hover, a:active {
    text-decoration: underline;
    color: #94FBAB;
}