* {
    margin: 0;
    box-sizing: border-box;
}
    
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFDAE9;
}

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('/assets/fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
         url('/assets/fonts/PlayfairDisplaySC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oregano';
    src: url('/assets/fonts/Oregano-Regular.woff2') format('woff2'),
         url('/assets/fonts/Oregano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VujahdayScript';
    src: url('/assets/fonts/VujahdayScript-Regular.woff2') format('woff2'),
         url('/assets/fonts/VujahdayScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFDAE9;
    padding: 0 20px 0 10px;
}

.header .logo {
    max-width: 150px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-links li {
    font-family: 'PlayfairDisplaySC';
    margin-left: 1rem;
}
  
.nav-links .link {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    transition: padding 0.3s ease;
}
  
.link:hover {
    background-color: #CCCCFF;
    color: #FFFFFF;
    padding: 3px;
    border-radius: 5px;
}

footer {
    background: #000000;
    color: #FFDAE9;
    text-align: center;
}
  
footer p {
    font-family: 'PlayfairDisplaySC', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
}

.social-media {
    margin: 10px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon.facebook {
    background-image: url(/assets/images/facebook.svg);
}

.social-icon.facebook:hover {
    background-image: url(/assets/images/facebook-hover.svg);
    transform: scale(1.1);
}

.social-icon.instagram {
    background-image: url(/assets/images/instagram.svg);
}

.social-icon.instagram:hover {
    background-image: url(/assets/images/instagram-hover.svg);
    transform: scale(1.1);
}

footer .createdBy {
    font-size: 14px;
}

.createdBy a:link, a:visited {
    text-decoration: none;
    color: #FFFAF0;
}

.createdBy a:hover, a:active {
    text-decoration: underline;
    color: #CCCCFF;
}