* {
    margin: 0;
    box-sizing: border-box;
}
    
body {
    background-image: url(/assets/images/lc-body-background.webp);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #FFDAE9;*/
}

@font-face {
    font-family: 'PlayfairDisplaySC';
    src: url('/assets/fonts/PlayfairDisplaySC-Regular.woff2') format('woff2'),
         url('/assets/fonts/PlayfairDisplaySC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oregano';
    src: url('/assets/fonts/Oregano-Regular.woff2') format('woff2'),
         url('/assets/fonts/Oregano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VujahdayScript';
    src: url('/assets/fonts/VujahdayScript-Regular.woff2') format('woff2'),
         url('/assets/fonts/VujahdayScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
.header {
    background-image: url(/assets/images/lc-header-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 10px;
}

.header .logo {
    max-width: 150px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
}

.close-btn {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    font-size: 2rem;
    color: #000000;
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.nav-active .close-btn {
    display: block;
}

.nav-active .hamburger {
    display: none;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-links li {
    font-family: 'PlayfairDisplaySC';
    margin: 0.8rem;
}
  
.nav-links .link {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    transition: padding 0.3s ease;
}
  
.link:hover {
    background-color: #CCCCFF;
    color: #FFFFFF;
    padding: 3px;
    border-radius: 5px;
}

footer {
    background-image: url(/assets/images/lc-footer-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFDAE9;
    text-align: center;
}
  
footer p {
    font-family: 'PlayfairDisplaySC', Times, serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px 0px;
}

.social-media {
    margin: 10px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon.facebook {
    background-image: url(/assets/images/facebook.svg);
}

.social-icon.facebook:hover {
    background-image: url(/assets/images/facebook-hover.svg);
    transform: scale(1.2);
}

.social-icon.instagram {
    background-image: url(/assets/images/instagram.svg);
}

.social-icon.instagram:hover {
    background-image: url(/assets/images/instagram-hover.svg);
    transform: scale(1.2);
}

footer .createdBy {
    font-size: 1.2rem;
}

.createdBy a:link, a:visited {
    text-decoration: none;
    color: #FFFAF0;
}

.createdBy a:hover, a:active {
    text-decoration: underline;
    color: #CCCCFF;
}

@media (max-width: 1024px) {
    .header .logo {
        max-width: 120px;
    }

    .nav-links .link {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1rem;
    }

    footer .createdBy {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .header .logo {
        max-width: 100px;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        z-index: 1001;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        background-color: #FFFFFF;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav-links.show {
        display: block;
    }

    .nav-links li a {
        text-decoration: none;
        color: #000000;
        font-size: 2rem;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

@media (max-width: 435px) {
    .header .logo {
        max-width: 80px;
    }

    footer P {
        font-size: 0.9rem;
        padding: 5px 0;
    }

    .social-media {
        margin: 0;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }

    footer .createdBy {
        font-size: 0.9rem;
    }
}