/* Hero Section */
.hero {
    position: relative;
    background-image: url(/assets/images/hiddentraveltreasures.webp);
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease-in-out;
}

.hero-content p {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Main Blog Post */
.main-blog-post {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.main-blog-post h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.main-blog-post img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

.main-blog-post p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.main-blog-post h3 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

.main-blog-post h4 {
    font-size: 1.7rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Call to Action */
.call-to-action {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
}

.call-to-action p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}
