main h1 {
    font-family: 'VujahdayScript', 'Courier', 'serif';
    font-size: 5.5rem;
    color: #CCCCFF;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
    letter-spacing: 10px;
}

.about-us {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px auto;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px #000000;
    border-radius: 10px;
    box-sizing: border-box;
}

.about-us-icons {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px auto;
    box-sizing: border-box;
}

.about-us h2 {
    width: 100%;
    color: #000000;
    font-family: "Oregano", "serif";
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2.5px;
}

.about-us-icons h2 {
    color: #000000;
    width: 100%;
    font-family: "Oregano", "serif";
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
}

.about-us-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.about-us-p {
    font-size: 18px;
    color: #000000;
    text-align: left;
    margin: 60px 50px 10px 20px;
}

.about-us-img {
    margin: 30px;
    max-width: 40%;
    height: auto;
    box-shadow: 0px 0px 15px #000000;
    border-radius: 10px;
}

/* Card Styles*/
.about-us-icons .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #000000;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-icon {
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}

.card-content h3 {
    color: #000000;
    padding-top: 10px;
    margin: 10px 0;
    font-size: 1.2rem;
}

.card-content p {
    font-size: 1.1rem;
    color: #000000;
}

.fa-solid {
    color: #000000;
    padding: 20px;
}