main h1 {
    font-family: 'VujahdayScript', 'Courier', 'serif';
    color: #1F2041;
    font-size: 5.5em;
    margin-bottom: 10px;
    text-align: center;
}

.about-us {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px #1F2041;
    border-radius: 10px;
    box-sizing: border-box;
}

.about-us-icons {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px auto;
    background-color: rgb(31, 32, 65);
    box-shadow: 0 0 10px #1F2041;
    border-radius: 10px;
    box-sizing: border-box;
}

.about-us h2 {
    width: 100%;
    color: #1F2041;
    font-family: "Oregano", "serif";
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.about-us-icons h2 {
    color: white;
    width: 100%;
    font-family: "Oregano", "serif";
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.about-us-icons h3 {
    color: white;
}

.about-us-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.about-us-p {
    font-size: 18px;
    color: black;
    text-align: left;
    margin: 60px 50px 10px 20px;
}

.about-us-icons p {
    color: white;
}

.about-us-img {
    margin: 30px;
    max-width: 40%;
    height: auto;
    box-shadow: 0 0 5px #1F2041;
}

/* Card aStyles*/
.about-us-icons .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(148, 251, 171, 0.9);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.card-content p {
    font-size: 1em;
    color: #777;
}

/*.about-us ul {
    list-style-type: none;
    padding: 0;
}

.about-us ul li {
    background: url('checkmark.png') left center no-repeat;
    background-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    color: black;
}

.about-us ul li strong {
    color: #1F2041;
}