.thailandContainer {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    position: relative;
    background-image: url(/assets/images/chiangMai.webp);
    background-size: cover;
    background-position: center;
    height: 45rem;
    border: 2px solid #000000;
    box-shadow: 0px 0px 20px #000000;
    border-radius: 10px;
}

.thailandContainer h1 {
    font-family: 'VujahdayScript', 'Courier', 'serif';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 20px;
    border-radius: 50%;
}

.thailandContainer h1 span {
    display: block;
    font-size: 1.4rem;
    color: #FFFFFF;
}

h2 {
    font-family: "Oregano", "serif";
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
    padding: 10px 0;
    text-decoration: underline;
    letter-spacing: 2.5px;
}

.thailand-p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5;
    margin: 30px 160px;
}

.thailand-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "pic1 pic2 pic3"
    "pic4 pic5 pic6";
    gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 150px;
}

.thailand-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.grid-item-1 {
    grid-area: pic1;
}

.grid-item-2 {
    grid-area: pic2;
}

.grid-item-3 {
    grid-area: pic3;
}

.grid-item-4 {
    grid-area: pic4;
}

.grid-item-5 {
    grid-area: pic5;
}

.grid-item-6 {
    grid-area: pic6;
}

ul {
    margin: 20px 200px;
    line-height: 2;
}

li {
    font-size: 1.2rem;
}

table {
    width: 50%;
    margin: 40px auto;
    border-collapse: collapse;
    border: 2px solid #000000;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #000000;
    color: #FFFFFF;
}

.top-row {
    background-color: #CCCCFF;
    font-weight: bold;
    font-size: 1.4rem;
    color: #000000;
}

.center-table-text {
    text-align: center;
    padding: 10px;
}

.button-container {
    text-align: center;
    margin: 30px;
}
.button-container button {
    background-color: #CCCCFF;
    color: #000000;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 3px solid #000000;
    border-radius: 10px;
}

/* Responsive styling */
@media (max-width: 1024px) {
    .thailandContainer {
        width: 80%;
        height: 500px;
        margin: 40px auto;
        box-shadow: 0px 0px 15px #000000;
    }

    .thailandContainer h1 {
        font-size: 2.2rem;
        padding: 10px;
    }

    .thailandContainer h1 span {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .thailand-p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin: 30px 100px;
    }

    .thailand-grid {
        margin: 40px 100px;
    }

    ul {
        margin: 20px 120px;
        line-height: 1.8;
    }

    li {
        font-size: 1.1rem;
    }

    .button-container button {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .thailandContainer {
        height: 400px;
    }

    .thailandContainer h1 {
        font-size: 1.8rem;
    }

    .thailandContainer h1 span {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .thailand-p {
        font-size: 1rem;
        margin: 20px 60px;
    }

    .thailand-grid {
        margin: 40px;
    }

    ul {
        margin: 10px 70px;
        line-height: 1.7;
    }

    li {
        font-size: 1rem;
    }

    .top-row {
        font-size: 1.3rem;
    }
}

@media (max-width: 435px) {
    .thailandContainer {
        width: 100%;
        height: 350px;
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .thailandContainer h1 {
        font-size: 1.4rem;
    }

    .thailandContainer h1 span {
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .thailand-p {
        font-size: 0.9rem;
        margin: 15px 30px;
    }

    .thailand-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "pic1 pic2"
        "pic3 pic4";
        margin: 30px 20px;
        gap: 15px;
    }

    /* Hide images 5 and 6 */
    .thailand-grid > *:nth-child(5),
    .thailand-grid > *:nth-child(6) {
        display: none;
    }

    .thailand-grid img {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);;
    }

    ul {
        margin: 15px;
        line-height: 1.6;
    }

    li {
        font-size: 0.9rem;
    }

    table {
        width: 80%;
        margin: 30px auto;
    }

    .top-row {
        font-size: 1rem;
    }

    .second-row {
        font-size: 0.9rem;
    }

    tbody {
        font-size: 0.8rem;
    }

    .button-container button {
        padding: 8px 15px;
        font-size: 0.9rem;
        border: 2px solid #000000;
    }
}